<!--
SPDX-License-Identifier: Apache-2.0
Licensed to the Ed-Fi Alliance under one or more agreements.
The Ed-Fi Alliance licenses this file to you under the Apache License, Version 2.0.
See the LICENSE and NOTICES files in the project root for more information.
-->

<div class="col-md-6 col-md-offset-3">
    <h1>Welcome to MappingEDU</h1>
    <span class="alert" ng-show="error" style="color: red;">Invalid Username/Password</span>
    <form name="loginForm" ng-submit="authenticate(loginForm)">

        <div class="form-group" ng-class="{'has-error': loginForm.username.$invalid, 'has-success': loginForm.username.$valid}">
            <label for="username">Username:</label>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                <input type="text" class="form-control" ng-model="auth.username" name="username" required />
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error': loginForm.password.$invalid, 'has-success': loginForm.password.$valid}">
            <label for="password">Password:</label>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                <input type="password" class="form-control" ng-model="auth.password" name="password" required />
            </div>
        </div>

        <button type="submit" class="btn btn-primary" ng-disabled="loginForm.$invalid">Sign In</button>
        <a href="/#/forgot" class="btn btn-edit">Forgot your Password?</a>
    </form>
</div>