<!--
SPDX-License-Identifier: Apache-2.0
Licensed to the Ed-Fi Alliance under one or more agreements.
The Ed-Fi Alliance licenses this file to you under the Apache License, Version 2.0.
See the LICENSE and NOTICES files in the project root for more information.
-->

<div class="navbar" style="margin-bottom: 0; position:absolute; bottom: 0; width: 100%; min-height: 40px">
    <div class="container" style="background-color: rgb(14, 118, 189); color: white; font-size: 13px">
        <p class="navbar-text" style="margin-top: 10px; margin-bottom: 10px">
            © Copyright 2022 Ed-Fi Alliance, LLC. All Rights Reserved.
        </p>
    </div>
</div>
