<!--
SPDX-License-Identifier: Apache-2.0
Licensed to the Ed-Fi Alliance under one or more agreements.
The Ed-Fi Alliance licenses this file to you under the Apache License, Version 2.0.
See the LICENSE and NOTICES files in the project root for more information.
-->

<div class="row">
    <div class="col-md-12">
        <span class="page-title">{{elementGroupDetailViewModel.pageTitle}}</span>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <ma-mapping-project-header view-model="elementGroupDetailViewModel" ng-if="elementGroupDetailViewModel.mappingProjectId != elementGroupDetailViewModel.emptyGuid" summary="true"></ma-mapping-project-header>
        <div ng-if="elementGroupDetailViewModel.dataStandardId != elementGroupDetailViewModel.emptyGuid" class="header-summary">
            <span ma-data-standard-fullname standard="elementGroupDetailViewModel.dataStandard"></span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-11">
        <h1>{{elementGroupDetailViewModel.elementGroup.ItemName}}</h1>
    </div>
    <div class="col-md-1">
        <a class="btn btn-edit" ng-click="elementGroupDetailViewModel.edit(elementGroupDetailViewModel.elementGroup)" data-toggle="modal" data-target="#elementGroupModal"
           ng-if="elementGroupDetailViewModel.dataStandardId != elementGroupDetailViewModel.emptyGuid"
           data-backdrop="static" data-keyboard="false">
            <i class="fa"></i> Edit Element Group
        </a>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <label>Definition:</label> <span class="bodyText">{{elementGroupDetailViewModel.elementGroup.Definition}}</span>
    </div>
</div>
<ma-loading view-model="elementGroupDetailViewModel"></ma-loading>
<div class="row" ng-if="elementGroupDetailViewModel.dataStandard" ng-show="elementGroupDetailViewModel.dataStandard.IsActive">
    <div class="col-md-12">
        <ul class="nav nav-tabs" ng-if="elementGroupDetailViewModel.showTabs()">
            <li ng-class="{active:elementGroupDetailViewModel.onPage(tab.link)}"
                ng-repeat="tab in elementGroupDetailViewModel.tabs" tab="tab">
                <a ui-sref="{{ tab.link }}">{{ tab.label }}</a>
            </li>
        </ul>
    </div>
</div>
<div ui-view></div>
<div id="elementGroupModal" class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <span class="page-title">Edit Element Group</span>
            </div>
            <div class="modal-body">
                <div modal="modalEditElementGroup">
                    <div ma-handle-errors error-data="elementGroupDetailViewModel.errorData">
                    </div>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <form name="editElementGroupForm" ng-submit="elementGroupDetailViewModel.save(elementGroupDetailViewModel.editElementGroup)" novalidate>
                                <input type="hidden" ng-model="elementGroupDetailViewModel.editElementGroup.SystemItemId" />
                                <div class="form-group" ma-show-errors>
                                    <label class="control-label">Element Group Name</label>
                                    <input type="text" name="itemName" class="form-control" id="itemName"
                                           ng-model="elementGroupDetailViewModel.editElementGroup.ItemName" required
                                           ng-maxlength="255" modal-set-focus="elementGroupDetailViewModel.editSetFocus" />
                                    <div ng-messages="editElementGroupForm.itemName.$error" class="help-block">
                                        <div ng-message="required">Element Group Name is required.</div>
                                        <div ng-message="maxlength">Element Group Name is too long.</div>
                                    </div>
                                </div>
                                <div class="form-group" ma-show-errors>
                                    <label class="control-label">Definition</label>
                                    <textarea name="definition" class="form-control" type="text"
                                              ng-model="elementGroupDetailViewModel.editElementGroup.Definition"
                                              ng-maxlength="1500"></textarea>
                                    <div ng-messages="editElementGroupForm.definition.$error" class="help-block">
                                        <div ng-message="maxlength">Definition is too long.</div>
                                    </div>
                                </div>
                                <div class="btn-toolbar row" ng-if="!elementGroupDetailViewModel.validating">
                                    <div class="pull-right">
                                        <button type="button" class="btn btn-cancel"
                                                ng-click="elementGroupDetailViewModel.cancel()">
                                            <i class="fa"></i>Cancel
                                        </button>
                                        <button type="submit" class="btn btn-happy">
                                            <i class="fa"></i>Save
                                        </button>
                                    </div>
                                </div>
                                <div class="alert-info pull-right" ng-if="elementGroupDetailViewModel.validating">Validating changes...<i class="fa fa-spinner fa-spin"></i></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>