<!--
SPDX-License-Identifier: Apache-2.0
Licensed to the Ed-Fi Alliance under one or more agreements.
The Ed-Fi Alliance licenses this file to you under the Apache License, Version 2.0.
See the LICENSE and NOTICES files in the project root for more information.
-->

<div ma-handle-errors error-data="uploadElementGroupViewModel.errorData">
</div>
<div class="row">
    <form name="uploadElementGroupForm" novalidate ng-submit="uploadElementGroupViewModel.upload(files, standard)">
        <div class="col-md-12 text-center form-group">
            <h3>File uploads must be properly formatted Excel files.</h3>
            <input type="file"
                   name="uploadFile"
                   accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel"
                   ngf-select=""
                   ng-model="files"
                   ngf-multiple="false"
                   onchange="angular.element('#submitFile').removeClass('disabled')" />
        </div>
        <div class="col-md-12 form-group">
            <br />
            <label>Upload Status: &nbsp; &nbsp; </label><span>{{uploadElementGroupViewModel.stylepercent}}</span>
            <br />
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="70"
                     aria-valuemin="0" aria-valuemax="100" ng-style="{'width' : uploadElementGroupViewModel.stylepercent}">
                    <span class="sr-only">{{uploadElementGroupViewModel.percent}}% Complete</span>
                </div>
            </div>
            <pre id="logMessage" class="bold">{{log}}</pre>
            <div class="alert alert-danger" ng-if="uploadElementGroupViewModel.errors.length > 0">
                <label>Errors:</label>
                <ul>
                    <li ng-repeat="error in uploadElementGroupViewModel.errors" ng-bind="error"></li>
                </ul>
            </div>
            <div class="alert alert-warning" ng-if="uploadElementGroupViewModel.warnings.length > 0">
                <label>Warnings:</label>
                <ul>
                    <li ng-repeat="warning in uploadElementGroupViewModel.warnings track by $index" ng-bind="warning"></li>
                </ul>
            </div>
            <div class="alert alert-info" ng-if="uploadElementGroupViewModel.infos.length > 0">
                <label>Information:</label>
                <ul>
                    <li ng-repeat="info in uploadElementGroupViewModel.infos" ng-bind="info"></li>
                </ul>
            </div>
            <br />
            <div class="pull-right">
                <button type="button"
                        class="btn btn-cancel"
                        ng-if="!uploadElementGroupViewModel.uploadSuccessful"
                        ng-click="uploadElementGroupViewModel.reset()">
                    <i class="fa"></i>
                    Cancel
                </button>
                <button type="submit"
                        id="submitFile"
                        class="btn btn-upload btn-happy disabled"
                        ng-if="!uploadElementGroupViewModel.uploadSuccessful">
                    <i class="fa"></i>Import Element Group
                </button>
                <button type="button"
                        class="btn btn-cancel" 
                        ng-if="uploadElementGroupViewModel.uploadSuccessful"
                        ng-click="uploadElementGroupViewModel.reset()">
                    <i class="fa"></i>
                    Close
                </button>
            </div>
        </div>
    </form>
</div>