<!--
SPDX-License-Identifier: Apache-2.0
Licensed to the Ed-Fi Alliance under one or more agreements.
The Ed-Fi Alliance licenses this file to you under the Apache License, Version 2.0.
See the LICENSE and NOTICES files in the project root for more information.
-->

<form name="uploadInterchangeForm" novalidate>

    <div class="modal-header">
        Interchange Clone
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                Upload multiple xsd interchange files to create a new Ed-Fi Data Standard based on the interchange.
                Select Ed-Fi base Standard to base the Entities.<br/><br/>
            </div>
            <div class="col-md-5 form-group">
                <label class="control-label">Ed-Fi Standard</label>
                <ui-select ng-model="baseStandard.DataStandardId"
                           theme="bootstrap">
                    <ui-select-match allow-clear="true" placeholder="Select an Ed-Fi standard...">{{$select.selected.SystemName}} ({{$select.selected.SystemVersion}})</ui-select-match>
                    <ui-select-choices repeat="standard.DataStandardId as standard in standards | filter: $select.search">
                        <div ng-bind-html="standard.SystemName | highlight: $select.search"></div>
                        <small>Version: <span ng-bind-html="''+ standard.SystemVersion | highlight: $select.search"></span></small>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="col-md-12 form-group">
                <label class="control-label">Interchanges</label>
                <input type="file"
                       name="uploadFile"
                       class="form-control"
                       accept=".xsd"
                       ngf-select=""
                       ng-model="files"
                       ngf-multiple="true"
                       required/>
            </div>
            <div class="col-md-12">
                <div id="termsOfUse" ng-bind-html="termsOfUse" style="position: relative; max-height: 200px; overflow-y: hidden; position: relative;"></div>
            </div>
            <div class="col-md-12 form-group">
                <br/>
                <label>File Upload Status: &nbsp; &nbsp; </label><span>{{stylepercent}}</span>
                <br/>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="70"
                         aria-valuemin="0" aria-valuemax="100" ng-style="{'width' : stylepercent}">
                        <span class="sr-only">{{percent}}% Complete</span>
                    </div>
                </div>
                <pre id="logMessage" class="bold" ng-if="!loading"><span ng-if="log">{{log}}</span><span ng-if="fileToken"><br />Showing 20 out of {{totalLogs}} logs. Click <a href="/api/Import/{{fileToken}}/LogFile">Here</a> to download log file.</span></pre>
                <pre ng-if="!log && percent && loading" class="bold">Importing/Updating Elements ... <i class="fa fa-spinner fa-spin"></i></pre>

                <div class="alert alert-danger" ng-if="errors.length > 0">
                    <label>Errors:</label>
                    <ul>
                        <li ng-repeat="error in errors" ng-bind="error"></li>
                    </ul>
                </div>
                <div class="alert alert-warning" ng-if="warnings.length > 0">
                    <label>Warnings:</label>
                    <ul>
                        <li ng-repeat="warning in warnings track by $index" ng-bind="warning.Message"></li>
                    </ul>
                </div>
                <div class="alert alert-info" ng-if="infos.length > 0">
                    <label>Information:</label>
                    <ul>
                        <li ng-repeat="info in infos" ng-bind="info"></li>
                    </ul>
                </div>
                <br/>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="pull-right">
            <button type="button"
                    class="btn btn-cancel"
                    ng-if="!uploadSuccessful"
                    ng-click="close()">
                <i class="fa"></i>
                Cancel
            </button>
            <button type="submit"
                    ng-click="upload(files)" promise-btn
                    id="submitFile"
                    ng-disabled="!baseStandard.DataStandardId || !files.length"
                    class="btn btn-upload"
                    ng-if="!uploadSuccessful">
                <i class="fa"></i>Upload Interchange Schema
            </button>
            <button type="button"
                    class="btn btn-cancel"
                    ng-if="uploadSuccessful"
                    ng-click="close()">
                <i class="fa"></i>
                Close
            </button>
        </div>
    </div>
</form>
