<!--
SPDX-License-Identifier: Apache-2.0
Licensed to the Ed-Fi Alliance under one or more agreements.
The Ed-Fi Alliance licenses this file to you under the Apache License, Version 2.0.
See the LICENSE and NOTICES files in the project root for more information.
-->

<ul class="nav navbar-nav">
    <li ng-repeat="link in links" ng-if="!$last">
        <a ng-if="!link.Children" ui-sref="{{link.sref}}">{{link.text}}</a>
        <a ng-if="link.Children" class="dropdown-toggle" role="button" data-toggle="dropdown">{{link.text}} <span class="caret"></span></a>
        <ul ng-if="link.Children" class="dropdown-menu">
            <li ng-repeat="child in link.Children">
                <a ui-sref="{{child.sref}}">{{child.text}}</a>
            </li>
        </ul>
    </li>
    <li ng-if="links.length > 1" class="active">
        <a>{{links[links.length - 1].text}}</a>
    </li>
    <li ng-if="links.length === 1">
        <a ui-sref="{{links[0].sref}}">{{links[0].text}}</a>
    </li>
</ul>


<!--<ul class="breadcrumb custom-breadcrumb">
    <li ng-repeat="link in links" ng-if="!$last" style="margin-left: -16px; margin-right: 18px;">
        <a ng-if="!link.Children" ui-sref="{{link.sref}}">{{link.text}}</a>
        <a ng-if="link.Children" class="dropdown-toggle" role="button" data-toggle="dropdown">{{link.text}}</a>
        <ul ng-if="link.Children" class="dropdown-menu breadcrumb-dropdown" style="left: auto; margin-top: -10px; margin-left: 20px">
            <li ng-repeat="child in link.Children">
                <a ui-sref="{{child.sref}}">{{child.text}}</a>
            </li>
        </ul>
    </li>
    <li ng-if="links.length > 1" class="active" style="margin-left: -16px; font-size: 12px;">
        {{links[links.length - 1].text}}
    </li>
    <li ng-if="links.length === 1">
        <a ui-sref="{{links[0].sref}}">{{links[0].text}}</a>
    </li>
</ul>-->
