<!--
SPDX-License-Identifier: Apache-2.0
Licensed to the Ed-Fi Alliance under one or more agreements.
The Ed-Fi Alliance licenses this file to you under the Apache License, Version 2.0.
See the LICENSE and NOTICES files in the project root for more information.
-->

<ma-loading view-model="elementDetailMappingViewModel"></ma-loading>
<div ma-handle-success success-data="elementDetailMappingViewModel.successData">
</div>
<div ma-handle-errors error-data="elementDetailMappingViewModel.errorData">
</div>
<br />
<div ng-if="elementDetailMappingViewModel.mappingProjectId == elementDetailMappingViewModel.emptyGuid">
    <div ng-if="elementDetailViewModel.element.SystemItemMappings.length == 0">
        There are no mappings for this element.
    </div>
    <div ng-repeat="mapping in elementDetailMappingViewModel.element.SystemItemMappings">
        <div class="section-header clearfix">
            <div class="title collapsed" data-toggle="collapse" data-target="#target_{{$index}}"
                 ng-click="elementDetailMappingViewModel.toggleTargetCaret($index)">
                <div class=" toggle-icon fa fa-2x fa-caret-right"
                     ng-init=" elementDetailMappingViewModel.showTarget[$index] = false"
                     ng-class="{'fa-caret-down': elementDetailMappingViewModel.showTarget[$index],
                    'fa-caret-right': !elementDetailMappingViewModel.showTarget[$index]}">
                </div>
                <div class="toggle-text">
                    <span ng-bind="mapping.MappingProject.TargetDataStandard.SystemName"></span> <span ng-bind="mapping.MappingProject.TargetDataStandard.SystemVersion"></span>
                </div>
                <hr/>
            </div>
        </div>
        <div id="target_{{$index}}" class="collapse">
            <div class="row">
                <div class="col-md-7">
                    <h3>
                        Mapping Status
                    </h3>
                    <div class="bodyText mapping-status-section">
                        <div ng-if="mapping.WorkflowStatusTypeId">
                            <label class="workflow-label">Workflow Status:</label>
                            <span ma-enum-display enum="{{elementDetailMappingViewModel.workflowStatusTypes}}" enum-id="{{mapping.WorkflowStatusTypeId}}"></span>
                            <div class="status-note">
                                <label class="workflow-label">Status Note:</label>
                                <span ng-bind="mapping.StatusNote"></span>
                            </div>
                        </div>
                        <div ng-if="!mapping.WorkflowStatusTypeId">
                            Mapping status is not available until a mapping method has been selected and saved.
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <h3>
                        Business Logic
                    </h3>
                    <div class="bodyText mapping-subsection">
                        <label>Mapping Method:</label>
                        <span ng-bind="mapping.MappingMethodType.Name"></span>
                        <div class="business-logic-readonly in" style="min-height: 46px;overflow-wrap: break-word;"
                             ma-preview-business-logic
                             business-logic="mapping.BusinessLogic"
                             read-only="true">
                        </div>
                    </div>
                    <div ng-if="mapping.EnumerationItemMappings.length > 0">
                        <h3>
                            Enumeration Item Mappings
                        </h3>
                        <div class="mapping-subsection">
                            <table id="enumerationMappingsDSTable" class="table table-bordered table-striped" datatable="ng">
                                <thead>
                                    <tr>
                                        <th style="width: 35%">Code Value</th>
                                        <th style="width: 35%">Mapping Logic</th>
                                        <th style="width: 30%">Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="enumerationMapping in mapping.EnumerationItemMappings">
                                        <td>{{ enumerationMapping.SourceCodeValue }}</td>
                                        <td>{{ elementDetailMappingViewModel.getTargetPath(enumerationMapping.TargetSystemItem) }}.{{enumerationMapping.TargetCodeValue}}</td>
                                        <td><span ma-enum-display enum="{{elementDetailMappingViewModel.enumerationMappingStatusTypes}}" enum-id="{{enumerationMapping.EnumerationMappingStatusTypeId}}"></span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <h3>
                        Notes
                    </h3>
                    <div class="bodyText map-note-section">
                        <div class="row" ng-repeat="note in mapping.MapNotes" ng-if="mapping">
                            <div class="col-md-7">
                                <div class="map-note">
                                    <label ng-bind="note.Title"></label><br />
                                    <span ng-bind="note.UpdateDateFormat"></span> - <span ng-bind="note.Notes"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-if="mapping.MapNotes.length == 0">
                            <div class="col-md-7">
                                <div class="map-note">
                                    None
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
        </div>
    </div>
</div>
<div ng-if="elementDetailMappingViewModel.mappingProjectId != elementDetailMappingViewModel.emptyGuid">
    <div class="section-header clearfix">
        <div class="title collapsed" data-toggle="collapse" data-target="#mappingStatus"
             ng-click="elementDetailMappingViewModel.toggleMappingStatusCaret()">
            <div class="toggle-icon fa fa-2x"
                 ng-class="{'fa-caret-down': elementDetailMappingViewModel.showMappingStatus,
                    'fa-caret-right': !elementDetailMappingViewModel.showMappingStatus}">
            </div>
            <div class="toggle-text">
                Mapping Status<span class="bodyText fade"
                                    ng-bind="': ' + (elementDetailMappingViewModel.mapping.WorkflowStatusType.Name ? 
                                        elementDetailMappingViewModel.mapping.WorkflowStatusType.Name : 'Unmapped')"
                                    ng-class="{in: !elementDetailMappingViewModel.showMappingStatus}"></span>
            </div>
        </div>
        <hr />
    </div>
    <div id="mappingStatus" class="collapse in">
        <div class="row">
            <div class="col-md-7">
                <div class="bodyText mapping-status-section">
                    <ma-workflow-status mapping="elementDetailMappingViewModel.mapping"
                                        ng-if="elementDetailMappingViewModel.mapping.WorkflowStatusTypeId"
                                        save-success="elementDetailMappingViewModel.saveSuccess"
                                        control="elementDetailMappingViewModel.controlWorkflowStatus"
                                        loading="elementDetailMappingViewModel.loading">
                    </ma-workflow-status>
                    <span ng-if="!elementDetailMappingViewModel.mapping.WorkflowStatusTypeId">
                        Mapping status cannot be changed until a mapping method has been selected and saved.
                    </span>
                </div>
            </div>
        </div>
        <br />
    </div>
    <div class="section-header clearfix">
        <div class="title collapsed" data-toggle="collapse" data-target="#mappingBusinessLogic"
             ng-click="elementDetailMappingViewModel.toggleMappingBusinessLogicCaret()">
            <div class="toggle-icon fa fa-2x"
                 ng-class="{'fa-caret-down': elementDetailMappingViewModel.showMappingBusinessLogic,
                    'fa-caret-right': !elementDetailMappingViewModel.showMappingBusinessLogic}">
            </div>
            <div class="toggle-text">
                Business Logic<span class="bodyText fade"
                                    ng-bind="': ' + (elementDetailMappingViewModel.mapping.MappingMethodType.Name ? 
                                        elementDetailMappingViewModel.mapping.MappingMethodType.Name : 'None')"
                                    ng-class="{in: !elementDetailMappingViewModel.showMappingBusinessLogic}"></span>
            </div>
        </div>
        <hr />
    </div>
    <div id="mappingBusinessLogic" class="collapse in">
        <form name="form.elementDetailMappingForm"
              ng-submit="elementDetailMappingViewModel.save(elementDetailMappingViewModel.mapping)" novalidate>
            <div class="row">
                <div class="col-md-7 form-group" ma-show-errors>
                    <label class="control-label">Mapping Method:</label>
                    <select name="mappingMethod" class="form-control" required
                            ng-change="elementDetailMappingViewModel.businessLogicChange()"
                            ng-model="elementDetailMappingViewModel.mapping.MappingMethodTypeId"
                            ng-options="item.Id as item.DisplayText for item in elementDetailMappingViewModel.mappingMethodTypes">
                        <option value=""></option>
                    </select>
                    <div ng-messages="form.elementDetailMappingForm.mappingMethod.$error" class="help-block">
                        <div ng-message="required">Mapping Method is required.</div>
                    </div>
                </div>
            </div>
            <div class="row" ng-show="elementDetailMappingViewModel.showBusinessLogicSection">
                <div class="col-md-7 form-group">
                    <label class="control-label" ng-bind="elementDetailMappingViewModel.businessLogicLabel"></label>
                    <div class="form-control fade" style="min-height: 100px;cursor: pointer;overflow-wrap: break-word;"
                         ma-preview-business-logic
                         business-logic="elementDetailMappingViewModel.mapping.BusinessLogic"
                         ng-click="elementDetailMappingViewModel.showBusinessLogicEdit = true"
                         ng-class="{in: !elementDetailMappingViewModel.showBusinessLogicEdit}"
                         ng-if="!elementDetailMappingViewModel.showBusinessLogicEdit">
                    </div>
                    <div class="fade" ng-class="{in: elementDetailMappingViewModel.showBusinessLogicEdit}"
                         ng-if="elementDetailMappingViewModel.showBusinessLogicEdit">
                        <p>
                            <textarea id="businessLogic" class="form-control" style="min-height: 250px;"
                                      ng-model="elementDetailMappingViewModel.mapping.BusinessLogic"
                                      ma-focus-if="elementDetailMappingViewModel.showBusinessLogicEdit"></textarea>
                        </p>
                        <p class="pull-right">
                            <button class="btn btn-happy"
                                    ng-click="elementDetailMappingViewModel.showBusinessLogicEdit = false">
                                Preview
                            </button>
                        </p>
                    </div>
                </div>
                <div class="col-md-1">
                    <label class="control-label">Templates:</label>
                    <button type="button" class="btn btn-template" ng-click="elementDetailMappingViewModel.addTemplate('calculation')">
                        <i class="fa"></i>
                        Calculation
                    </button><br />
                    <button type="button" class="btn btn-template" ng-click="elementDetailMappingViewModel.addTemplate('referenceDescriptor')">
                        <i class="fa"></i>
                        Reference/Descriptor
                    </button><br />
                    <button type="button" class="btn btn-template" ng-click="elementDetailMappingViewModel.addTemplate('variableParameter')">
                        <i class="fa"></i>
                        Variable/Parameter
                    </button><br />
                </div>
            </div>
            <div class="row" ng-if="elementDetailMappingViewModel.showOmissionReasonSection">
                <div class="col-md-7 form-group">
                    <label class="control-label">Omission Reason</label>
                    <p>
                        <textarea id="omissionReason" class="form-control" style="min-height: 100px;"
                                  ng-model="elementDetailMappingViewModel.mapping.OmissionReason"></textarea>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7 btn-group">
                    <div class="pull-left">
                        <button type="button" class="btn btn-redirect btn-matchmaker" ng-click="elementDetailMappingViewModel.showMatchmakerModal()" 
                                analytics-on="click" analytics-event="Open Matchmaker" analytics-properties="{level: 'Info'}"
                                ng-disabled="elementdetailmappingviewmodel.loading" ng-if="elementDetailMappingViewModel.showBusinessLogicSection">
                            <i class="fa"></i>
                            Open Matchmaker
                        </button>
                    </div>
                    <div class="pull-right">
                        <button type="button" class="btn btn-cancel" ng-click="elementDetailMappingViewModel.cancel()"
                                ng-disabled="elementDetailMappingViewModel.loading">
                            <i class="fa"></i>
                            Cancel
                        </button>
                        <button type="submit" class="btn btn-happy btn-save" ng-disabled="elementDetailMappingViewModel.loading">
                            <i class="fa"></i>
                            Save
                        </button>
                    </div>
                </div>
            </div>
        </form>
        <br />
    </div>
    <div ng-if="elementDetailMappingViewModel.enumeration">
        <div class="section-header clearfix">
            <div class="title collapsed" data-toggle="collapse" data-target="#enumerationMappings"
                 ng-click="elementDetailMappingViewModel.toggleEnumerationMappingsCaret()">
                <div class="toggle-icon fa fa-2x"
                     ng-class="{'fa-caret-down': elementDetailMappingViewModel.showEnumerationMappings,
                    'fa-caret-right': !elementDetailMappingViewModel.showEnumerationMappings}">
                </div>
                <div class="toggle-text">Enumeration Item Mappings</div>
            </div>
        </div>
        <hr />
        <div id="enumerationMappings" class="collapse">
            <div class="row">
                <div class="col-md-12">
                    <table id="enumerationMappingsTable" class="table table-bordered table-striped" datatable="ng">
                        <thead>
                            <tr>
                                <th>Code Value</th>
                                <th>Mapping Logic</th>
                                <th>Status</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="enumerationMapping in elementDetailMappingViewModel.mapping.EnumerationItemMappings">
                                <td>{{ enumerationMapping.SourceCodeValue }}</td>
                                <td>{{ elementDetailMappingViewModel.getTargetPath(enumerationMapping.TargetSystemItem) }}.{{enumerationMapping.TargetCodeValue}}</td>
                                <td><span ma-enum-display enum="{{elementDetailMappingViewModel.enumerationMappingStatusTypes}}" enum-id="{{enumerationMapping.EnumerationMappingStatusTypeId}}"></span></td>
                                <td class="text-center">
                                    <a class="btn btn-edit" ng-click="elementDetailMappingViewModel.editEnumerationMapping(enumerationMapping)" data-toggle="modal" data-target="#enumerationMappingModal"
                                       data-backdrop="static" data-keyboard="false">
                                        <i class="fa"></i>
                                    </a>
                                </td>
                                <td class="text-center">
                                    <a class="btn btn-delete" ma-confirm-action="elementDetailMappingViewModel.deleteEnumMapping(enumerationMapping)">
                                        <i class="fa"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr ng-repeat="enumerationMapping in elementDetailMappingViewModel.mapping.MissingEnumerationItemMappings">
                                <td>{{ enumerationMapping.SourceCodeValue }}</td>
                                <td class="alert-warning"><span>Not currently mapped</span></td>
                                <td><span ma-enum-display enum="{{elementDetailMappingViewModel.enumerationMappingStatusTypes}}" enum-id="{{enumerationMapping.EnumerationMappingStatusTypeId}}"></span></td>
                                <td class="text-center">
                                    <a class="btn btn-edit" ng-click="elementDetailMappingViewModel.editEnumerationMapping(enumerationMapping)" data-toggle="modal" data-target="#enumerationMappingModal"
                                       data-backdrop="static" data-keyboard="false">
                                        <i class="fa"></i>
                                    </a>
                                </td>
                                <td>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="pull-right" ng-show="elementDetailMappingViewModel.mapping.WorkflowStatusTypeId">
                        <a class="btn btn-edit" ng-click="elementDetailMappingViewModel.addEnumerationMapping()" data-toggle="modal" data-target="#enumerationMappingModal"
                           data-backdrop="static" data-keyboard="false">
                            <i class="fa"></i>Add Mapping
                        </a>
                    </div>
                </div>
            </div>
            <br/>
        </div>
    </div>
    <div class="section-header clearfix">
        <div class="title collapsed" data-toggle="collapse" data-target="#notes"
             ng-click="elementDetailMappingViewModel.toggleNotesCaret()">
            <div class="toggle-icon fa fa-2x"
                 ng-class="{'fa-caret-down': elementDetailMappingViewModel.showNotes,
                    'fa-caret-right': !elementDetailMappingViewModel.showNotes}">
            </div>
            <div class="toggle-text">Notes</div>
        </div>
        <hr />
    </div>
    <div id="notes" class="collapse">
        <div class="row" ng-if="!elementDetailMappingViewModel.mapping">
            <div class="col-md-7">
                Notes cannot be added until a mapping method has been selected and saved.
            </div>
        </div>
        <div class="row" ng-repeat="note in elementDetailMappingViewModel.mapping.MapNotes" ng-if="elementDetailMappingViewModel.mapping">
            <div class="col-md-7">
                <div class="map-note">
                    <div ng-if="!note.editNote">
                        <label ng-bind="note.Title"></label><br />
                        <span ng-bind="note.UpdateDateFormat"></span> - <span ng-bind="note.Notes"></span>
                    </div>
                    <div ng-if="note.editNote">
                        <label>Title:</label><br />
                        <input type="text" class="note-title" ng-model="note.editNote.Title" maxlength="100" /><br />
                        <label>Note:</label><br />
                        <textarea class="note-text" ng-model="note.editNote.Notes"></textarea>
                    </div>
                    <div class="pull-right" ng-if="!note.editNote">
                        <a role="button" class="btn btn-edit" ng-click="elementDetailMappingViewModel.editNote(note)"
                           ng-disabled="elementDetailMappingViewModel.loading">
                            <i class="fa"></i>
                            Edit
                        </a>
                        <button type="button" class="btn btn-delete" ma-confirm-action="elementDetailMappingViewModel.deleteNote(note)"
                                ng-disabled="elementDetailMappingViewModel.loading">
                            <i class="fa"></i>
                            Delete
                        </button>
                    </div>
                    <div class="pull-right" ng-if="note.editNote">
                        <button type="button" class="btn btn-cancel" ng-click="elementDetailMappingViewModel.cancelEditNote(note)"
                                ng-disabled="elementDetailMappingViewModel.loading">
                            <i class="fa"></i>
                            Cancel
                        </button>
                        <button type="submit" class="btn btn-happy btn-save" ng-click="elementDetailMappingViewModel.saveNote(note)"
                                ng-disabled="elementDetailMappingViewModel.loading">
                            <i class="fa"></i>
                            Save
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ng-if="elementDetailMappingViewModel.noteToAdd">
            <div class="col-md-7">
                <div class="map-note">
                    <label>Title:</label><br />
                    <input type="text" class="note-title" ng-model="elementDetailMappingViewModel.noteToAdd.Title" maxlength="100" /><br />
                    <label>Note:</label><br />
                    <textarea class="note-text" ng-model="elementDetailMappingViewModel.noteToAdd.Notes"></textarea>
                </div>
                <div class="pull-right">
                    <button type="button" class="btn btn-cancel" ng-click="elementDetailMappingViewModel.cancelAddNote()"
                            ng-disabled="elementDetailMappingViewModel.loading">
                        <i class="fa"></i>
                        Cancel
                    </button>
                    <button type="submit" class="btn btn-happy btn-save" ng-click="elementDetailMappingViewModel.saveAddedNote()"
                            ng-disabled="elementDetailMappingViewModel.loading">
                        <i class="fa"></i>
                        Save
                    </button>
                </div>
            </div>
        </div>
        <div class="row" ng-if="elementDetailMappingViewModel.mapping">
            <div class="col-md-7">
                <a role="button" class="btn btn-edit" ng-click="elementDetailMappingViewModel.addNote()"
                   ng-if="!elementDetailMappingViewModel.noteToAdd"
                   ng-disabled="elementDetailMappingViewModel.loading">
                    <i class="fa"></i>Add Note
                </a>
            </div>
        </div>
    </div>
    <div id="matchmakerModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bold">
                    <span ng-bind="elementDetailMappingViewModel.mappingProject.TargetDataStandard.SystemName"></span>
                    <span ng-bind="elementDetailMappingViewModel.mappingProject.TargetDataStandard.SystemVersion"></span> -
                    <span class="modal-title">Select Mapping Target</span>
                </div>
                <div class="modal-body">
                    <div modal="modalMatchmaker">
                        <div ma-handle-errors error-data="elementDetailMappingViewModel.errorData">
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <ul class="nav nav-tabs mapping-header" role="tablist" ng-init="active.tab='search'">
                                    <li role="presentation" ng-class="{active: active.tab=='browse'}">
                                        <a href="" ng-click="active.tab = 'browse'" role="tab" analytics-on analytics-event="Matchmaker Browse Tab Clicked">Browse</a>
                                    </li>
                                    <li role="presentation" ng-class="{active: active.tab=='search'}">
                                        <a href="" ng-click="active.tab = 'search'" role="tab" analytics-on analytics-event="Matchmaker Search Tab Clicked">Search</a>
                                    </li>
                                    <li role="presentation" ng-class="{active: active.tab=='suggest'}">
                                        <a href="" ng-click="active.tab = 'suggest'" role="tab" analytics-on analytics-event="Matchmaker Suggest Tab Clicked">Suggest</a>
                                    </li>
                                </ul>
                                <div class="tab-content" ng-switch="active.tab">
                                    <div class="tab-pane fade in active" role="tabpanel" ng-switch-when="browse">
                                        <div ng-include="'app/elementDetail/matchmaker/browseView.html'"
                                             ng-controller="browseController as browseViewModel">
                                        </div>
                                    </div>
                                    <div class="tab-pane fade in active" role="tabpanel" ng-switch-when="search">
                                        <div ng-include="'app/elementDetail/matchmaker/searchView.html'"
                                             ng-controller="searchController as searchViewModel">
                                        </div>
                                    </div>
                                    <div class="tab-pane fade in active" role="tabpanel" ng-switch-when="suggest">
                                        <div ng-include="'app/elementDetail/matchmaker/suggestView.html'"
                                             ng-controller="suggestController as suggestViewModel">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="enumerationMappingModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    Edit Enumeration Mapping
                </div>
                <div class="modal-body">
                    <div ma-handle-errors error-data="elementDetailMappingViewModel.errorData">
                    </div>
                    <div class="row">
                        <form name="enumerationItemMappingForm"
                              ng-submit="elementDetailMappingViewModel.saveEnumerationMapping()"
                              novalidate>
                            <div class="col-md-12 form-group">
                                <label class="control-label">Code Value:</label>
                                {{elementDetailMappingViewModel.editedEnumerationMapping.SourceCodeValue}}
                                <select class="form-control"
                                        ng-model="elementDetailMappingViewModel.editedEnumerationMapping.SourceSystemEnumerationItemId"
                                        ng-options="item.SystemEnumerationItemId as item.CodeValue for item in elementDetailMappingViewModel.enumeration.EnumerationItems"
                                        name="sourceSystemEnumerationItemId"
                                        required
                                        set-focus
                                        ng-disabled="elementDetailMappingViewModel.editedEnumerationMapping.isEdit">
                                </select>
                            </div>
                            <div class="col-md-12 form-group">
                                <label class="control-label">Mapping Status:</label>
                                <select class="form-control"
                                        ng-model="elementDetailMappingViewModel.editedEnumerationMapping.EnumerationMappingStatusTypeId"
                                        ng-options="item.Id as item.DisplayText for item in elementDetailMappingViewModel.enumerationMappingStatusTypes 
                                        | filter: elementDetailMappingViewModel.filterMappingStatusType()"
                                        name="enumerationMappingStatusType"
                                        required>
                                </select>
                            </div>
                            <div class="col-md-12 form-group">
                                <label class="control-label">Status Reason:</label>
                                <select class="form-control"
                                        ng-model="elementDetailMappingViewModel.editedEnumerationMapping.EnumerationMappingStatusReasonTypeId"
                                        ng-options="item.Id as item.DisplayText for item in elementDetailMappingViewModel.enumerationMappingStatusReasonTypes"
                                        name="enumerationMappingStatusReasonType"
                                        required>
                                </select>
                            </div>
                            <div class="col-md-12 form-group">
                                <label class="control-label">Deferred Mapping:</label>
                                <input class="form-control" type="checkbox" ng-model="elementDetailMappingViewModel.editedEnumerationMapping.DeferredMapping"/>
                            </div>
                            <div class="col-md-12 form-group">
                                <label class="control-label">Mapping Logic:</label>
                                <select class="form-control"
                                        ng-model="elementDetailMappingViewModel.editedEnumerationMapping.TargetSystemEnumerationItemId"
                                        ng-options="item.SystemEnumerationItemId as elementDetailMappingViewModel.getTargetPath(item.SystemItem) + '.' + item.CodeValue for item in elementDetailMappingViewModel.mapping.TargetEnumerationItems
                                        | filter:{ CodeValue: '!!'}"
                                        name="targetSystemEnumerationItemId"
                                        required>
                                </select>
                            </div>
                            <div class="col-md-12 btn-toolbar row">
                                <div class="pull-right">
                                    <button type="button" class="btn btn-cancel"
                                            ng-click="elementDetailMappingViewModel.cancelEnumerationMapping()">
                                        <i class="fa"></i>
                                        Cancel
                                    </button>
                                    <button type="submit" class="btn btn-happy">
                                        <i class="fa"></i>
                                        Save
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
            </div>
        </div>
    </div>
</div>
