<!--
SPDX-License-Identifier: Apache-2.0
Licensed to the Ed-Fi Alliance under one or more agreements.
The Ed-Fi Alliance licenses this file to you under the Apache License, Version 2.0.
See the LICENSE and NOTICES files in the project root for more information.
-->

<div class="row">
    <div class="col-md-12">
        <span class="page-title" ng-bind="elementDetailViewModel.pageTitle"></span>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div ng-if="elementDetailViewModel.mappingProjectId != elementDetailViewModel.emptyGuid">
            <ma-mapping-project-header view-model="elementDetailViewModel" summary="true"></ma-mapping-project-header>
            <ma-mapping-project-status mapping-project="elementDetailViewModel.mappingProject"></ma-mapping-project-status>
        </div>
        <div ng-if="elementDetailViewModel.dataStandardId != elementDetailViewModel.emptyGuid" class="header-summary">
            <label>Data Standard:</label> <span ma-data-standard-fullname standard="elementDetailViewModel.dataStandard"></span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-9">
        <h1>
            <span ng-bind="elementDetailViewModel.element.ElementDetails.ItemName">
            </span>
        </h1>
    </div>
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-12">
                <div class="pull-right">
                    <a ma-go-back></a>
                </div>
                <div class="bold previousNext pull-right">
                    <div>
                        <a class="btn fa fa-caret-left" ng-click="elementDetailViewModel.previous()"></a>
                    </div>
                    <div>
                        <span ng-bind="elementDetailViewModel.currentElementNumber"></span> of
                        <span ng-bind="elementDetailViewModel.elements.length"></span>
                    </div>
                    <div>
                        <a class=" btn fa fa-caret-right" ng-click="elementDetailViewModel.next()"></a>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div>
                    <div class="pull-right">
                        <a class="btn btn-edit" data-toggle="modal" data-target="#elementModal"
                           ng-if="elementDetailViewModel.dataStandardId != elementDetailViewModel.emptyGuid"
                           data-backdrop="static" data-keyboard="false">
                            <i class="fa"></i> Edit Element
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <label>Path: </label>
        <ma-element-path ng-if="elementDetailViewModel.mappingProjectId != elementDetailViewModel.emptyGuid && elementDetailViewModel.element"
                         segments="elementDetailViewModel.element.ElementDetails.PathSegments"
                         context-id="elementDetailViewModel.mappingProjectId" context="mappingProject" last-segment-is-element="true"
                         control="elementDetailViewModel.controlElementPath" depth="20">
        </ma-element-path>
        <ma-element-path ng-if="elementDetailViewModel.dataStandardId != elementDetailViewModel.emptyGuid && elementDetailViewModel.element"
                         segments="elementDetailViewModel.element.ElementDetails.PathSegments"
                         context-id="elementDetailViewModel.dataStandardId" context="dataStandard" last-segment-is-element="true"
                         control="elementDetailViewModel.controlElementPath" depth="20">
        </ma-element-path>
    </div>
</div>
<div class="row">
    <div class="col-md-10">
        <label>Definition:</label>
        <span ng-bind="elementDetailViewModel.element.ElementDetails.Definition" style="overflow-wrap: break-word;"></span>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <label>Type:</label> <span ng-bind="elementDetailViewModel.element.ElementDetails.ItemType.Name"></span>
    </div>
    <div class="col-md-8">
        <label>Length:</label> <span ng-bind="elementDetailViewModel.element.ElementDetails.FieldLength"></span>
    </div>
</div>

<ma-loading view-model="elementDetailViewModel"></ma-loading>
<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-tabs" ng-if="elementDetailViewModel.showTabs()">
            <li ng-class="{active:elementDetailViewModel.onPage(tab.link)}"
                ng-repeat="tab in elementDetailViewModel.tabs" tab="tab">
                <a ui-sref="{{ tab.link }}" ng-bind="tab.label">Tab</a>
            </li>
        </ul>
    </div>
</div>
<div ui-view></div>
<div id="editProjectModal" class="modal fade" role="dialog" ng-if="elementDetailViewModel.mappingProjectId">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <span class="page-title">Edit Mapping Project</span>
            </div>
            <div class="modal-body">
                <ma-edit-mapping-project mapping-project="elementDetailViewModel.mappingProject" modal="true"></ma-edit-mapping-project>
            </div>
        </div>
    </div>
</div>
<div id="editDataStandardModal" class="modal fade" role="dialog" ng-if="elementDetailViewModel.dataStandardId">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <span class="page-title">Edit Data Standard</span>
            </div>
            <div class="modal-body">
                <ma-edit-data-standard standard="elementDetailViewModel.dataStandard" modal="true"></ma-edit-data-standard>
            </div>
        </div>
    </div>
</div>
<div id="elementModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <span class="page-title">Edit Element</span>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div ma-handle-errors error-data="errorData">
                    </div>
                    <form name="elementForm"
                          ng-submit="elementDetailViewModel.save()"
                          novalidate>

                        <div class="col-md-12 form-group" ma-show-errors>
                            <label class="control-label">Definition</label>
                            <textarea class="form-control"
                                      type="text"
                                      ng-model="elementDetailViewModel.element.ElementDetails.Definition"
                                      name="definition"></textarea>
                        </div>

                        <div class="col-md-6 form-group" ma-show-errors>
                            <label class="control-label">Element Name</label>
                            <input class="form-control"
                                   type="text"
                                   ng-model="elementDetailViewModel.element.ElementDetails.ItemName"
                                   name="itemName"
                                   required
                                   ng-maxlength="255"
                                   set-focus />
                            <div ng-messages="elementForm.itemName.$error" class="help-block">
                                <div ng-message="required">Entity Name is required.</div>
                                <div ng-message="maxlength">Entity Name is too long.</div>
                            </div>
                        </div>

                        <div class="col-md-12 btn-toolbar row">
                            <div class="pull-right">
                                <button type="button" class="btn btn-cancel"
                                        ng-click="elementDetailViewModel.cancel()">
                                    <i class="fa"></i>
                                    Cancel
                                </button>
                                <button type="submit" class="btn btn-happy">
                                    <i class="fa"></i>
                                    Save
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>