<!--
SPDX-License-Identifier: Apache-2.0
Licensed to the Ed-Fi Alliance under one or more agreements.
The Ed-Fi Alliance licenses this file to you under the Apache License, Version 2.0.
See the LICENSE and NOTICES files in the project root for more information.
-->

<br />
<div class="section-header clearfix">
    <div class="title collapsed" data-toggle="collapse" data-target="#enumerationUsage"
         ng-click="enumerationUsageViewModel.toggleEnumerationUsageCaret()">
        <div class="toggle-icon fa fa-2x"
             ng-class="{'fa-caret-down': enumerationUsageViewModel.showEnumerationUsage,
                    'fa-caret-right': !enumerationUsageViewModel.showEnumerationUsage}">
        </div>
        <div class="toggle-text">
            Element Usage
        </div>
    </div>
</div>
<hr />
<div id="enumerationUsage" class="collapse in">
    <ul class="list-unstyled">
        <li ng-repeat="element in enumerationUsageViewModel.enumeration.ElementsOfEnumerationType">
            <ma-element-path ng-if="enumerationUsageViewModel.mappingProjectId != enumerationUsageViewModel.emptyGuid"
                             segments="element.PathSegments"
                             context-id="enumerationUsageViewModel.mappingProjectId" context="mappingProject" last-segment-is-element="true"
                             depth="20">
            </ma-element-path>
            <ma-element-path ng-if="enumerationUsageViewModel.dataStandardId != enumerationUsageViewModel.emptyGuid"
                             segments="element.PathSegments"
                             context-id="enumerationUsageViewModel.dataStandardId" context="dataStandard" last-segment-is-element="true"
                             depth="20">
            </ma-element-path>

        </li>
    </ul>
</div>
