<!--
SPDX-License-Identifier: Apache-2.0
Licensed to the Ed-Fi Alliance under one or more agreements.
The Ed-Fi Alliance licenses this file to you under the Apache License, Version 2.0.
See the LICENSE and NOTICES files in the project root for more information.
-->

<div>
    <h1>Header 1 (H1)</h1>
    <ul style="list-style-type: none">
        <li ng-repeat="style in stylesViewModel.h1Styles">{{ style }}</li>
    </ul>
    <h2>Header 2 (H2)</h2>
    <ul style="list-style-type: none">
        <li ng-repeat="style in stylesViewModel.h2Styles">{{ style }}</li>
    </ul>
    <h3>Header 3 (H3)</h3>
    <ul style="list-style-type: none">
        <li ng-repeat="style in stylesViewModel.h3Styles">{{ style }}</li>
    </ul>
    <a href="">a link</a>
    <ul style="list-style-type: none">
        <li ng-repeat="style in stylesViewModel.aStyles">{{ style }}</li>
    </ul>
    <p class="bodyText">Body Text</p>
    <ul style="list-style-type: none">
        <li ng-repeat="style in stylesViewModel.bodyTextStyles">{{ style }}</li>
    </ul>
    <p class="page-title">Page Title</p>
    <ul style="list-style-type: none">
        <li ng-repeat="style in stylesViewModel.pageTitleStyles">{{ style }}</li>
    </ul>
    <hr />
    <p><span class="standard-a">Standard A</span></p>
    <ul style="list-style-type: none">
        <li ng-repeat="style in stylesViewModel.standardAStyles">{{ style }}</li>
    </ul>
    <p><span class="standard-b">Standard B</span></p>
    <ul style="list-style-type: none">
        <li ng-repeat="style in stylesViewModel.standardBStyles">{{ style }}</li>
    </ul>
    <p class="good">Green is Good, Active, Go, etc.</p>
    <ul style="list-style-type: none">
        <li ng-repeat="style in stylesViewModel.greenGoodStyles">{{ style }}</li>
    </ul>
    <p class="bad">Red is Bad, No Good, Rotten, etc.</p>
    <ul style="list-style-type: none">
        <li ng-repeat="style in stylesViewModel.redBadStyles">{{ style }}</li>
    </ul>
    <p class="no-class">Normal Text</p>
    <ul style="list-style-type: none">
        <li ng-repeat="style in stylesViewModel.pStyles">{{ style }}</li>
    </ul>
    <p class="header-text">Header Text</p>
    <ul style="list-style-type: none">
        <li ng-repeat="style in stylesViewModel.headerTextStyles">{{ style }}</li>
    </ul>
    <p class="accent">Accent</p>
    <ul style="list-style-type: none">
        <li ng-repeat="style in stylesViewModel.accentStyles">{{ style }}</li>
    </ul>
    <p>
        <span>Happy Buttons</span><br />
        <button class="btn btn-happy"><i class="fa"></i>Button</button>
        <a href="" class="btn btn-happy"><i class="fa"></i>Link Button</a>
    </p>
    <p>
        <span>Disabled Happy Buttons</span><br />
        <button class="btn btn-happy" disabled><i class="fa"></i>Button</button>
        <a href="" class="btn btn-happy disabled"><i class="fa"></i>Link Button</a>
    </p>
    <ul style="list-style-type: none">
        <li ng-repeat="style in stylesViewModel.buttonStyles">{{ style }}</li>
    </ul>
    <br />
    <p>
        <span>Cancel Buttons</span><br />
        <button class="btn btn-cancel"><i class="fa"></i>Button</button>
        <a href="" class="btn btn-cancel"><i class="fa"></i>Link Button</a>
    </p>
    <p>
        <span>Disabled Cancel Buttons</span><br />
        <button class="btn btn-cancel" disabled><i class="fa"></i>Button</button>
        <a href="" class="btn btn-cancel disabled"><i class="fa"></i>Link Button</a>
    </p>
    <ul style="list-style-type: none">
        <li ng-repeat="style in stylesViewModel.buttonCancelStyles">{{ style }}</li>
    </ul>
    <br />
    <p>
        <span>Redirect Buttons</span><br />
        <button class="btn btn-redirect"><i class="fa"></i>Button</button>
        <a href="" class="btn btn-redirect"><i class="fa"></i>Link Button</a>
    </p>
    <p>
        <span>Disabled Redirect Buttons</span><br />
        <button class="btn btn-redirect" disabled><i class="fa"></i>Button</button>
        <a href="" class="btn btn-redirect disabled"><i class="fa"></i>Link Button</a>
    </p>
    <ul style="list-style-type: none">
        <li ng-repeat="style in stylesViewModel.buttonRedirectStyles">{{ style }}</li>
    </ul>
    <br />
    <p>
        <span>Delete Buttons</span><br />
        <button class="btn btn-delete"><i class="fa"></i>Button</button>
        <a href="" class="btn btn-delete"><i class="fa"></i>Link Button</a>
    </p>
    <p>
        <span>Disabled Delete Buttons</span><br />
        <button class="btn btn-delete" disabled><i class="fa"></i>Button</button>
        <a href="" class="btn btn-delete disabled"><i class="fa"></i>Link Button</a>
    </p>
    <ul style="list-style-type: none">
        <li ng-repeat="style in stylesViewModel.buttonDeleteStyles">{{ style }}</li>
    </ul>
    <br />
    <p>
        <span>Other Buttons</span>
        <div class="btn-group">
            <button class="btn btn-happy btn-edit"><i class="fa"></i>Edit</button>
            <button class="btn btn-happy btn-flag"><i class="fa"></i>Flag</button>
            <button class="btn btn-happy btn-matchmaker"><i class="fa"></i>Matchmaker</button>
            <button class="btn btn-happy btn-resume"><i class="fa"></i>Resume</button>
            <button class="btn btn-happy btn-report"><i class="fa"></i>Report</button>
            <button class="btn btn-happy btn-download"><i class="fa"></i>Download</button>
        </div>
    </p>
</div>