<!--
SPDX-License-Identifier: Apache-2.0
Licensed to the Ed-Fi Alliance under one or more agreements.
The Ed-Fi Alliance licenses this file to you under the Apache License, Version 2.0.
See the LICENSE and NOTICES files in the project root for more information.
-->

<div ma-handle-errors error-data="entityDetailInfoViewModel.errorData">
</div>
<div class="section-header clearfix">
    <br/>
    <div class="title collapsed" data-toggle="collapse" data-target="#elements"
         ng-click="entityDetailInfoViewModel.toggleElementsCaret()">
        <div class="toggle-icon fa fa-2x"
             ng-class="{'fa-caret-down': entityDetailInfoViewModel.showElements,
                    'fa-caret-right': !entityDetailInfoViewModel.showElements}">
        </div>
        <div class="toggle-text">Elements</div>
    </div>
    <hr />
</div>
<div id="elements" class="collapse in">
    <div class="row">
        <div class="col-md-12">
            <table id="elementsTable" class="table table-bordered table-striped" datatable="ng">
                <thead>
                    <tr>
                        <th style="width: 25%">Element Name</th>
                        <th style="width: 25%">Definition</th>
                        <th style="width: 25%">Data Type</th>
                        <th style="width: 25%" ng-if="entityDetailInfoViewModel.showMapping">Mapping Status</th>
                        <th style="width: 5%" ng-if="!entityDetailInfoViewModel.showMapping">Edit</th>
                        <th style="width: 5%" ng-if="!entityDetailInfoViewModel.showMapping">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="element in entityDetailInfoViewModel.entity.Elements">
                        <td><a ui-sref="{{ element.nameSref }}">{{ element.ElementDetails.ItemName }}</a></td>
                        <td>{{ element.ElementDetails.Definition }}</td>
                        <td>{{ element.ElementDetails.DataTypeSource }}<span ng-if="element.ElementDetails.FieldLength">({{ element.ElementDetails.FieldLength }})</span></td>
                        <td ng-if="entityDetailInfoViewModel.showMapping">{{ element.MappingStatus.Name }}</td>
                        <td ng-if="!entityDetailInfoViewModel.showMapping">
                            <a class="btn btn-edit" ng-click="entityDetailInfoViewModel.edit(element)" data-toggle="modal" data-target="#elementModal"
                               data-backdrop="static" data-keyboard="false">
                                <i class="fa"></i>
                            </a>
                        </td>
                        <td ng-if="!entityDetailInfoViewModel.showMapping">
                            <a class="btn btn-delete" ma-confirm-action="entityDetailInfoViewModel.delete(element)">
                                <i class="fa"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="pull-right">
                <a class="btn btn-edit" ng-click="entityDetailInfoViewModel.addElement()" data-toggle="modal" data-target="#elementModal"
                   data-backdrop="static" data-keyboard="false"
                   ng-if="!entityDetailInfoViewModel.showMapping">
                    <i class="fa"></i>Add Element
                </a>
            </div>
        </div>
    </div>
</div>
<div ng-if="dataStandard.PreviousDataStandard">
    <div class="section-header clearfix">
        <div class="title collapsed" data-toggle="collapse" data-target="#previousVersions"
             ng-click="entityDetailInfoViewModel.togglePreviousVersionsCaret()">
            <div class="toggle-icon fa fa-2x"
                 ng-class="{'fa-caret-down': entityDetailInfoViewModel.showPreviousVersions,
                    'fa-caret-right': !entityDetailInfoViewModel.showPreviousVersions}">
            </div>
            <div class="toggle-text">Previous Versions</div>
        </div>
        <hr />
    </div>
    <div id="previousVersions" class="collapse">
        <div class="row">
            <div class="col-md-5" ng-repeat-start="previousVersion in entityDetailInfoViewModel.entity.PreviousVersions">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="">
                            <div class="pull-right">
                                <a role="button" class="btn btn-edit" ng-click="entityDetailInfoViewModel.editPreviousVersion(previousVersion)"
                                   data-toggle="modal" data-target="#previousVersionModal" data-backdrop="static" data-keyboard="false">
                                    <i class="fa"></i>
                                </a>
                                <a role="button" class="btn btn-delete" ma-confirm-action="entityDetailInfoViewModel.deletePreviousVersion(previousVersion)">
                                    <i class="fa"></i>
                                </a>
                            </div>
                            <span class="h4">{{ previousVersion.ItemChangeType.Name }}</span>
                        </div>
                    </div>
                    <div class="panel-body">
                        <label>Previous Version</label>
                        <p>
                            <span ng-repeat="item in previousVersion.PreviousVersionItems">
                                <span class="standard-a" ng-bind="item.Name"></span>
                                <i class="fa fa-caret-right" ng-if="!$last"></i>
                            </span>
                        </p>
                        <label>Description</label>
                        <p>{{ previousVersion.Description }}</p>
                    </div>
                </div>
            </div>
            <div class="clearfix" ng-if="$index%2==1"></div>
            <div ng-repeat-end=""></div>
        </div>
        <div class="row">
            <a class="btn btn-add" data-toggle="modal" data-target="#previousVersionModal"
               data-backdrop="static" data-keyboard="false" ng-click="entityDetailInfoViewModel.addPreviousVersion()">
                <i class="fa"></i>Add
            </a>
        </div>
    </div>
</div>
<div ng-if="entityDetailInfoViewModel.nextDataStandard">
    <div class="section-header clearfix">
        <div class="title collapsed" data-toggle="collapse" data-target="#nextVersions"
             ng-click="entityDetailInfoViewModel.toggleNextVersionsCaret()">
            <div class="toggle-icon fa fa-2x"
                 ng-class="{'fa-caret-down': entityDetailInfoViewModel.showNextVersions,
                    'fa-caret-right': !entityDetailInfoViewModel.showNextVersions}">
            </div>
            <div class="toggle-text">Next Versions</div>
        </div>
        <hr />
    </div>
    <div id="nextVersions" class="collapse">
        <div class="row">
            <div class="col-md-5" ng-repeat-start="nextVersion in entityDetailInfoViewModel.entity.NextVersions">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="">
                            <div class="pull-right">
                                <a role="button" class="btn btn-edit" ng-click="entityDetailInfoViewModel.editNextVersion(nextVersion)"
                                   data-toggle="modal" data-target="#nextVersionModal" data-backdrop="static" data-keyboard="false">
                                    <i class="fa"></i>
                                </a>
                                <a role="button" class="btn btn-delete" ma-confirm-action="entityDetailInfoViewModel.deleteNextVersion(nextVersion)">
                                    <i class="fa"></i>
                                </a>
                            </div>
                            <span class="h4">{{ nextVersion.ItemChangeType.Name }}</span>
                        </div>
                    </div>
                    <div class="panel-body">
                        <label>Next Version</label>
                        <p>
                            <span ng-repeat="item in nextVersion.NextVersionItems">
                                <span class="standard-a" ng-bind="item.Name"></span>
                                <i class="fa fa-caret-right" ng-if="!$last"></i>
                            </span>
                        </p>
                        <label>Description</label>
                        <p>{{ nextVersion.Description }}</p>
                    </div>
                </div>
            </div>
            <div class="clearfix" ng-if="$index%2==1"></div>
            <div ng-repeat-end=""></div>
        </div>
        <div class="row">
            <a class="btn btn-add" data-toggle="modal" data-target="#nextVersionModal"
               data-backdrop="static" data-keyboard="false" ng-click="entityDetailInfoViewModel.addNextVersion()">
                <i class="fa"></i>Add
            </a>
        </div>
    </div>
</div>
<div class="section-header clearfix" ng-if="!entityDetailInfoViewModel.showMapping">
    <div class="title collapsed" data-toggle="collapse" data-target="#notes"
         ng-click="entityDetailInfoViewModel.toggleNotesCaret()">
        <div class="toggle-icon fa fa-2x"
             ng-class="{'fa-caret-down': entityDetailInfoViewModel.showNotes,
                    'fa-caret-right': !entityDetailInfoViewModel.showNotes}">
        </div>
        <div class="toggle-text">Notes</div>
    </div>
    <hr />
</div>
<div id="notes" class="collapse">
    <div ma-handle-errors error-data="entityDetailInfoViewModel.errorData">
    </div>
    <div class="row" ng-repeat="note in entityDetailInfoViewModel.entity.Notes">
        <div class="col-md-7">
            <div class="map-note">
                <div ng-if="!note.editNote">
                    <label ng-bind="note.Title"></label><br />
                    <span ng-bind="note.UpdateDateStr"></span> - <span ng-bind="note.Notes"></span>
                </div>
                <div ng-if="note.editNote">
                    <label>Title:</label><br />
                    <input type="text" class="note-title" ng-model="note.editNote.Title" maxlength="100" /><br />
                    <label>Note:</label><br />
                    <textarea class="note-text" ng-model="note.editNote.Notes"></textarea>
                </div>
                <div class="pull-right" ng-if="!note.editNote">
                    <a role="button" class="btn btn-edit" ng-click="entityDetailInfoViewModel.editNote(note)">
                        <i class="fa"></i>
                        Edit
                    </a>
                    <button type="button" class="btn btn-delete" ma-confirm-action="entityDetailInfoViewModel.deleteNote(note)">
                        <i class="fa"></i>
                        Delete
                    </button>
                </div>
                <div class="pull-right" ng-if="note.editNote">
                    <button type="button" class="btn btn-cancel" ng-click="entityDetailInfoViewModel.cancelEditNote(note)">
                        <i class="fa"></i>
                        Cancel
                    </button>
                    <button type="submit" class="btn btn-happy" ng-click="entityDetailInfoViewModel.saveNote(note)">
                        <i class="fa"></i>
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-if="entityDetailInfoViewModel.noteToAdd">
        <div class="col-md-7">
            <div class="map-note">
                <label>Title:</label><br />
                <input type="text" class="note-title" ng-model="entityDetailInfoViewModel.noteToAdd.Title" maxlength="100" /><br />
                <label>Note:</label><br />
                <textarea class="note-text" ng-model="entityDetailInfoViewModel.noteToAdd.Notes"></textarea>
            </div>
            <div class="pull-right">
                <button type="button" class="btn btn-cancel" ng-click="entityDetailInfoViewModel.cancelAddNote()">
                    <i class="fa"></i>
                    Cancel
                </button>
                <button type="submit" class="btn btn-happy" ng-click="entityDetailInfoViewModel.saveAddedNote()">
                    <i class="fa"></i>
                    Save
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            <a role="button" class="btn btn-edit" ng-click="entityDetailInfoViewModel.addNote()" ng-if="!entityDetailInfoViewModel.noteToAdd">
                <i class="fa"></i>Add Note
            </a>
        </div>
    </div>
</div>
<div id="elementModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <span class="page-title" ng-if="!entityDetailInfoViewModel.addingAnElement">Edit </span>
                <span class="page-title" ng-if="entityDetailInfoViewModel.addingAnElement">Add </span>
                <span class="page-title" ng-if="entityDetailInfoViewModel.editingAnElement || entityDetailInfoViewModel.addingAnElement">Element</span>
                <span class="page-title" ng-if="!entityDetailInfoViewModel.editingAnElement && !entityDetailInfoViewModel.addingAnElement">Entity</span>
            </div>
            <div class="modal-body">
                <ma-edit-element-detail element-detail="entityDetailInfoViewModel.editElement.ElementDetails"
                                        save="entityDetailInfoViewModel.saveElementDetail()"
                                        cancel="entityDetailInfoViewModel.cancelElementDetail()"
                                        editing-an-element="entityDetailInfoViewModel.editingAnElement"
                                        adding-an-element="entityDetailInfoViewModel.addingAnElement"
                                        error-data="entityDetailInfoViewModel.errorData"
                                        types="entityDetailInfoViewModel.itemDataTypes"
                                        enumerations="entityDetailInfoViewModel.systemItemEnumerations"
                                        element-form="entityDetailInfoViewModel.elementForm">
                </ma-edit-element-detail>
            </div>
        </div>
    </div>
</div>

<div id="previousVersionModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Edit Previous Version
            </div>
            <div class="modal-body">
                <div ma-handle-errors error-data="entityDetailInfoViewModel.errorData">
                </div>
                <div class="row">
                    <form name="previousVersionForm"
                          ng-submit="entityDetailInfoViewModel.savePreviousVersion()"
                          novalidate>
                        <div class="col-md-12 form-group" ma-show-errors>
                            <input type="hidden"
                                   name="systemItemId"
                                   ng-model="entityDetailInfoViewModel.editedPreviousVersion.OldSystemItemId" />
                            <label class="control-label">Change Type</label>
                            <select class="form-control"
                                    ng-model="entityDetailInfoViewModel.editedPreviousVersion.ItemChangeTypeId"
                                    ng-options="item.Id as item.DisplayText for item in entityDetailInfoViewModel.itemChangeTypesPrevious"
                                    ng-change="entityDetailInfoViewModel.determinePreviousVersionItemDisplay()"
                                    name="itemChangeType"
                                    required
                                    set-focus>
                                <option value=""></option>
                            </select>
                            <div ng-messages="previousVersionForm.itemChangeType.$error" class="help-block">
                                <div ng-message="required">Change Type is required.</div>
                            </div>
                        </div>
                        <div class="col-md-12 form-group" ng-show="entityDetailInfoViewModel.showPreviousVersionItem">
                            <label class="control-label">Next Version</label>
                            <div>
                                <span ng-repeat="item in entityDetailInfoViewModel.editedPreviousVersion.PreviousVersionItems">
                                    <span class="standard-a" ng-bind="item.Name"></span>
                                    <i class="fa fa-caret-right" ng-if="!$last"></i>
                                </span>
                                <span ng-if="!entityDetailInfoViewModel.editedPreviousVersion.PreviousVersionItems || entityDetailInfoViewModel.editedPreviousVersion.PreviousVersionItems.length === 0"><i>No item selected</i></span>
                                <a role="button" class="btn" data-toggle="collapse" data-target="#elementListContainerPrevious">
                                    <i class="fa fa-search"></i>
                                </a>
                                <a role="button" class="btn btn-delete" ng-click="entityDetailInfoViewModel.clearSelectedItemPrevious()">
                                    <i class="fa"></i>
                                </a>
                            </div>
                            <div id="elementListContainerPrevious" class="collapse">
                                <span ng-show="!entityDetailInfoViewModel.elementListPreviousLoaded">Loading search table <i class="fa fa-spinner fa-spin"></i></span>
                                <table class="table table-striped table-bordered" id="elementListTablePrevious" ng-show="entityDetailInfoViewModel.elementListPreviousLoaded">
                                    <thead>
                                        <tr>
                                            <th style="display: none">
                                            </th>
                                            <th style="display: none">
                                            </th>
                                            <th>
                                                Path
                                            </th>
                                            <th>
                                                Type
                                            </th>
                                            <th style="display: none">
                                            </th>
                                            <th>
                                                Select
                                            </th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-12 form-group" ma-show-errors>
                            <label class="control-label">Description</label>
                            <textarea class="form-control"
                                      ng-model="entityDetailInfoViewModel.editedPreviousVersion.Description"
                                      name="description"
                                      rows="5"></textarea>
                        </div>
                        <div class="col-md-12 btn-toolbar row">
                            <div class="pull-right">
                                <button type="button" class="btn btn-cancel"
                                        ng-click="entityDetailInfoViewModel.cancelPreviousVersion()">
                                    <i class="fa"></i>
                                    Cancel
                                </button>
                                <button type="submit" class="btn btn-happy" ng-disabled="!entityDetailInfoViewModel.editedPreviousVersion.ItemChangeTypeId">
                                    <i class="fa"></i>
                                    Save
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="nextVersionModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Edit Next Version
            </div>
            <div class="modal-body">
                <div ma-handle-errors error-data="entityDetailInfoViewModel.errorData">
                </div>
                <div class="row">
                    <form name="nextVersionForm"
                          ng-submit="entityDetailInfoViewModel.saveNextVersion()"
                          novalidate>
                        <div class="col-md-12 form-group" ma-show-errors>
                            <input type="hidden"
                                   name="systemItemId"
                                   ng-model="entityDetailInfoViewModel.editedNextVersion.NewSystemItemId" />
                            <label class="control-label">Change Type</label>
                            <select class="form-control"
                                    ng-model="entityDetailInfoViewModel.editedNextVersion.ItemChangeTypeId"
                                    ng-options="item.Id as item.DisplayText for item in entityDetailInfoViewModel.itemChangeTypesNext"
                                    ng-change="entityDetailInfoViewModel.determineNextVersionItemDisplay()"
                                    name="itemChangeType"
                                    required
                                    set-focus>
                                <option value=""></option>
                            </select>
                            <div ng-messages="nextVersionForm.itemChangeType.$error" class="help-block">
                                <div ng-message="required">Change Type is required.</div>
                            </div>
                        </div>
                        <div class="col-md-12 form-group" ng-show="entityDetailInfoViewModel.showNextVersionItem">
                            <label class="control-label">Next Version</label>
                            <div>
                                <span ng-repeat="item in entityDetailInfoViewModel.editedNextVersion.NextVersionItems">
                                    <span class="standard-a" ng-bind="item.Name"></span>
                                    <i class="fa fa-caret-right" ng-if="!$last"></i>
                                </span>
                                <span ng-if="!entityDetailInfoViewModel.editedNextVersion.NextVersionItems || entityDetailInfoViewModel.editedNextVersion.NextVersionItems.length === 0"><i>No item selected</i></span>
                                <a role="button" class="btn" data-toggle="collapse" data-target="#elementListContainerNext">
                                    <i class="fa fa-search"></i>
                                </a>
                                <a role="button" class="btn btn-delete" ng-click="entityDetailInfoViewModel.clearSelectedItemNext()">
                                    <i class="fa"></i>
                                </a>
                            </div>
                            <div id="elementListContainerNext" class="collapse">
                                <span ng-show="!entityDetailInfoViewModel.elementListNextLoaded">Loading search table <i class="fa fa-spinner fa-spin"></i></span>
                                <table class="table table-striped table-bordered" id="elementListTableNext" ng-show="entityDetailInfoViewModel.elementListNextLoaded">
                                    <thead>
                                        <tr>
                                            <th style="display: none">
                                            </th>
                                            <th style="display: none">
                                            </th>
                                            <th>
                                                Path
                                            </th>
                                            <th>
                                                Type
                                            </th>
                                            <th style="display: none">
                                            </th>
                                            <th>
                                                Select
                                            </th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-12 form-group" ma-show-errors>
                            <label class="control-label">Description</label>
                            <textarea class="form-control"
                                      ng-model="entityDetailInfoViewModel.editedNextVersion.Description"
                                      name="description"
                                      rows="5"></textarea>
                        </div>
                        <div class="col-md-12 btn-toolbar row">
                            <div class="pull-right">
                                <button type="button" class="btn btn-cancel"
                                        ng-click="entityDetailInfoViewModel.cancelNextVersion()">
                                    <i class="fa"></i>
                                    Cancel
                                </button>
                                <button type="submit" class="btn btn-happy" ng-disabled="!entityDetailInfoViewModel.editedNextVersion.ItemChangeTypeId">
                                    <i class="fa"></i>
                                    Save
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
