<!--
SPDX-License-Identifier: Apache-2.0
Licensed to the Ed-Fi Alliance under one or more agreements.
The Ed-Fi Alliance licenses this file to you under the Apache License, Version 2.0.
See the LICENSE and NOTICES files in the project root for more information.
-->

<div class="row">
    <div class="col-md-12">
        <span class="page-title">{{entityDetailViewModel.pageTitle}}</span>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <ma-mapping-project-header view-model="entityDetailViewModel" ng-if="entityDetailViewModel.mappingProjectId != entityDetailViewModel.emptyGuid" summary="true"></ma-mapping-project-header>
        <div ng-if="entityDetailViewModel.dataStandardId != entityDetailViewModel.emptyGuid" class="header-summary">
            <span ma-data-standard-fullname standard="entityDetailViewModel.dataStandard"></span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-11">
        <h1>{{entityDetailViewModel.entity.ItemName}}</h1>
    </div>
    <div class="col-md-1">
        <a class="btn btn-edit" ng-click="entityDetailViewModel.edit(element)" data-toggle="modal" data-target="#entityModal"
           ng-if="entityDetailViewModel.dataStandardId != entityDetailViewModel.emptyGuid"
           data-backdrop="static" data-keyboard="false">
            <i class="fa"></i> Edit Entity
        </a>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <label>Path: </label>
        <ma-element-path ng-if="entityDetailViewModel.mappingProjectId != entityDetailViewModel.emptyGuid && entityDetailViewModel.entity"
                         segments="entityDetailViewModel.entity.PathSegments"
                         context-id="entityDetailViewModel.mappingProjectId" context="mappingProject" depth="20">
        </ma-element-path>
        <ma-element-path ng-if="entityDetailViewModel.dataStandardId != entityDetailViewModel.emptyGuid && entityDetailViewModel.entity"
                         segments="entityDetailViewModel.entity.PathSegments"
                         context-id="entityDetailViewModel.dataStandardId" context="dataStandard" depth="20">
        </ma-element-path>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <label>Definition:</label> <span class="bodyText">{{entityDetailViewModel.entity.Definition}}</span>
    </div>
</div>
<ma-loading view-model="entityDetailViewModel"></ma-loading>
<div class="row" ng-if="entityDetailViewModel.dataStandard" ng-show="entityDetailViewModel.dataStandard.IsActive">
    <div class="col-md-12">
        <ul class="nav nav-tabs" ng-if="entityDetailViewModel.showTabs()">
            <li ng-class="{active:entityDetailViewModel.onPage(tab.link)}"
                ng-repeat="tab in entityDetailViewModel.tabs" tab="tab">
                <a ui-sref="{{ tab.link }}">{{ tab.label }}</a>
            </li>
        </ul>
    </div>
</div>
<div ui-view></div>
<div id="editProjectModal" class="modal fade" role="dialog" ng-if="entityDetailViewModel.mappingProjectId">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <span class="page-title">Edit Mapping Project</span>
            </div>
            <div class="modal-body">
                <ma-edit-mapping-project mapping-project="entityDetailViewModel.mappingProject" modal="true"></ma-edit-mapping-project>
            </div>
        </div>
    </div>
</div>
<div id="editDataStandardModal" class="modal fade" role="dialog" ng-if="entityDetailViewModel.dataStandardId">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <span class="page-title">Edit Data Standard</span>
            </div>
            <div class="modal-body">
                <ma-edit-data-standard standard="entityDetailViewModel.dataStandard" modal="true"></ma-edit-data-standard>
            </div>
        </div>
    </div>
</div>
<div id="entityModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <span class="page-title">Edit Entity</span>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div ma-handle-errors error-data="errorData">
                    </div>
                    <form name="entityForm"
                          ng-submit="entityDetailViewModel.save()"
                          novalidate>

                        <div class="col-md-12 form-group" ma-show-errors>
                            <label class="control-label">Definition</label>
                            <textarea class="form-control"
                                      type="text"
                                      ng-model="entityDetailViewModel.entity.Definition"
                                      name="definition"></textarea>
                        </div>

                        <div class="col-md-6 form-group" ma-show-errors>
                            <label class="control-label">Entity Name</label>
                            <input class="form-control"
                                   type="text"
                                   ng-model="entityDetailViewModel.entity.ItemName"
                                   name="itemName"
                                   required
                                   ng-maxlength="255"
                                   set-focus />
                            <div ng-messages="entityForm.itemName.$error" class="help-block">
                                <div ng-message="required">Entity Name is required.</div>
                                <div ng-message="maxlength">Entity Name is too long.</div>
                            </div>
                        </div>
                        
                        <div class="col-md-12 btn-toolbar row">
                            <div class="pull-right">
                                <button type="button" class="btn btn-cancel"
                                        ng-click="entityDetailViewModel.cancel()">
                                    <i class="fa"></i>
                                    Cancel
                                </button>
                                <button type="submit" class="btn btn-happy">
                                    <i class="fa"></i>
                                    Save
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
