<!--
SPDX-License-Identifier: Apache-2.0
Licensed to the Ed-Fi Alliance under one or more agreements.
The Ed-Fi Alliance licenses this file to you under the Apache License, Version 2.0.
See the LICENSE and NOTICES files in the project root for more information.
-->

<div id="MainBody" class="container body-content">
    <div class="col-md-6 col-md-offset-3">
        <h1>Welcome to MappingEDU</h1>
        <form name="confirmEmailForm" ng-submit="confirmEmail()" promise-btn>

            <!-- PASSWORD -->

            <div ma-show-errors>
                <label class="control-label">Password (8 chars minimum)</label>
                <input class="form-control"
                       autocomplete="off"
                       type="password"
                       ng-model="user.Password"
                       name="password"
                       pattern=".{8,}"
                       title="8 chars minimum"
                       required/>
            </div><br/>

            <!-- PASSWORD CONFIRM -->

            <div ma-show-errors>
                <label class="control-label">Confirm Password</label>
                <input class="form-control"
                       autocomplete="off"
                       type="password"
                       ng-model="user.ConfirmPassword"
                       name="comfirmPassword"
                       pattern=".{8,}"
                       title="8 chars minimum"
                       required />
            </div><br/>

            <button type="submit" class="btn btn-primary" ng-disabled="confirmEmailForm.$invalid || user.Password !=user.ConfirmPassword">Confirm</button>
            <span class="error" ng-show="user.Password != user.ConfirmPassword">Passwords are not equal</span>
        </form>

        <br />
        <div id="termsOfUse" ng-bind-html="termsOfUse.Value" style="position: relative; max-height: 200px; overflow-y: hidden; position: relative;"></div>
    </div>
</div>
