<!--
SPDX-License-Identifier: Apache-2.0
Licensed to the Ed-Fi Alliance under one or more agreements.
The Ed-Fi Alliance licenses this file to you under the Apache License, Version 2.0.
See the LICENSE and NOTICES files in the project root for more information.
-->

<div class="row">
    <div class="col-md-12">
        <div class="alert alert-danger" ng-show="errorData.hasError">
            <button type="button" class="close" ng-click="errorData.hasError = false">
                <span>&times;</span>
            </button>
            Please correct the following validation error(s):
            <ul ng-repeat="errorMessage in errorData.errors">
                <li>{{ errorMessage }}</li>
            </ul>
        </div>
    </div>
</div>