<!--
SPDX-License-Identifier: Apache-2.0
Licensed to the Ed-Fi Alliance under one or more agreements.
The Ed-Fi Alliance licenses this file to you under the Apache License, Version 2.0.
See the LICENSE and NOTICES files in the project root for more information.
-->

<div class="row">
    <div class="col-md-11" style="margin-top: 20px">
    </div>
</div>
<form name="projectShareForm">
    <div class="row">
        <div class="col-md-7 form-group">
            <ui-select ng-model="project.Id"
                       theme="bootstrap"
                       required>
                <ui-select-match allow-clear="true" placeholder="Select a project...">{{$select.selected.ProjectName}}</ui-select-match>
                <ui-select-choices repeat="project.MappingProjectId as project in userProjectsViewModel.projects | filter: $select.search">
                    <div ng-bind-html="project.ProjectName | highlight: $select.search"></div>
                    <div class="row">
                        <div class="col-md-4">
                            <small>Source: <span ng-bind-html="''+project.SourceDataStandard.SystemName + ' (' + project.SourceDataStandard.SystemVersion + ')' | highlight: $select.search"></span></small>
                        </div>
                        <div class="col-md-4">
                            <small>Target: <span ng-bind-html="''+project.TargetDataStandard.SystemName + ' (' + project.TargetDataStandard.SystemVersion + ')' | highlight: $select.search"></span></small>
                        </div>
                    </div>
                </ui-select-choices>
            </ui-select>
        </div>
        <div class="col-md-3 form-group">
            <select class="form-control"
                    name="role"
                    ng-model="project.Role"
                    ng-options="permission.value as permission.label for permission in userProjectsViewModel.permissonOptions"
                    required></select>
        </div>
        <button class="col-md-2 btn btn-share" ng-click="userProjectsViewModel.addUserToProject(usersEditViewModel.user.Email, project)" ng-disabled="projectShareForm.$invalid" promise-btn><i class="fa"></i> Share</button>
    </div>
</form>
<div clas="row">
    <div class="col-md-7">
        <div class="alert alert-warning alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <b>Important: </b> Sharing this Mapping Project will also provide the user with
            view-only access to the source and target Data Standards. By sharing this Project,
            you are confirming that the Project and its associated Standards are not considered
            proprietary or confidential by their owners.
        </div>
    </div>
</div>
<table class="table table-hover" datatable="ng" dt-options="userProjectsViewModel.dtOptions">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th style="width: 125px;">Access Level</th>
            <th style="width: 50px">Remove</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="project in userProjectsViewModel.userProjects">
            <td><a ui-sref="app.mapping-project.detail.dashboard({ id: '{{ project.Id }}' })" ng-bind="project.Name"></a></td>
            <td ng-bind="project.Description"></td>
            <td>
                <select style="width: 125px; border: none; background: none"
                        ng-model="project.Role"
                        ng-change="userProjectsViewModel.updateProjectRole(usersEditViewModel.user.Email, project)"
                        ng-options="permission.value as permission.label for permission in userProjectsViewModel.permissonOptions"></select>
            </td>
            <td class="text-center">
                <button type="button" class="btn btn-delete"
                        ma-confirm-action="userProjectsViewModel.removeProjectRole(project, usersEditViewModel.user, $index)">
                    <i class="fa"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>