<!--
SPDX-License-Identifier: Apache-2.0
Licensed to the Ed-Fi Alliance under one or more agreements.
The Ed-Fi Alliance licenses this file to you under the Apache License, Version 2.0.
See the LICENSE and NOTICES files in the project root for more information.
-->

<div class="mapping-options" ng-show="showOptions">
    <button class="btn btn-xs btn-textbox-options"
            ng-click="save()">
        <i class="fa fa-check"></i>
    </button>
    <button class="btn btn-xs btn-textbox-options"
            ng-click="cancel()">
        <i class="fa fa-close"></i>
    </button>
</div>