<!--
SPDX-License-Identifier: Apache-2.0
Licensed to the Ed-Fi Alliance under one or more agreements.
The Ed-Fi Alliance licenses this file to you under the Apache License, Version 2.0.
See the LICENSE and NOTICES files in the project root for more information.
-->

<span class="page-title">HOME</span>
<h1>Welcome to MappingEDU</h1>
<hr />
<div class="row">
    <ma-loading view-model="homeViewModel"></ma-loading>
    <div ng-show="homeViewModel.activeProjects.length === 0">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <p class="text-center">You don't have any active projects.  Click "Create New Project" below to get started - or view the example projects and pre-loaded data standards below to learn more about the MappingEDU systems.</p>
            <p class="text-center">
                <a ui-sref="createMappingProject" class="btn btn-lg btn-happy btn-resume" role="button">Create New Project<i class="fa"></i></a>
            </p>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="col-md-6" ng-show="homeViewModel.activeProjects.length > 0">
        <h2>
            Your Active Mapping Projects
        </h2>
        <ul class="home-page-list-with-button">
            <li ng-repeat="mappingProject in homeViewModel.activeProjects | limitTo: homeViewModel.listVisibleLength">
                <a class="link-with-button" ui-sref="{{mappingProject.resumeSref}}">{{mappingProject.ProjectName}}</a>
                <div class="pull-right">
                    <a ui-sref="{{mappingProject.resumeSref}}" class="btn btn-happy btn-resume btn-xs" role="button"><i class="fa"></i>Resume Mapping</a>
                </div>
            </li>
        </ul>
        <div ng-if="homeViewModel.activeProjects.length > homeViewModel.listVisibleLength" class="collapse" id="collapseActiveMappingProjects">
            <ul class="home-page-list-with-button">
                <li ng-repeat="mappingProject in homeViewModel.activeProjects" ng-if="$index > homeViewModel.listVisibleLength - 1">
                    <a class="link-with-button" ui-sref="{{mappingProject.resumeSref}}">{{mappingProject.ProjectName}}</a>
                    <div class="pull-right">
                        <a ui-sref="{{mappingProject.resumeSref}}" class="btn btn-happy btn-resume btn-xs" role="button"><i class="fa"></i>Resume Mapping</a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="pull-right" ng-if="homeViewModel.activeProjects.length > homeViewModel.listVisibleLength">
            <a class="btn btn-link" role="button" data-toggle="collapse" href="#collapseActiveMappingProjects"
               ng-click="homeViewModel.allActiveMappingProjectsVisible = !homeViewModel.allActiveMappingProjectsVisible"
               aria-expanded="false" aria-controls="collapseActiveMappingProjects">
                Show {{ !homeViewModel.allActiveMappingProjectsVisible ? 'More' : 'Fewer'}} Active Mapping Projects
            </a>
        </div>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-6">
        <label class="h3 home-section-header">All Mapping Projects</label>
        <div class="pull-right">
            <a ui-sref="createMappingProject" class="btn btn-edit" role="button"><i class="fa"></i> New Project</a>
        </div>
        <p>Mapping projects are where you select one standard to map to another standard.  Projects allow you to search for, assign, and review mappings between data elements.</p>
        <ul ng-show="homeViewModel.mappingProjects.length > 0" class="home-page-list">
            <li ng-repeat="mappingProject in homeViewModel.mappingProjects | limitTo: homeViewModel.listVisibleLength">
                <a ui-sref="{{mappingProject.sref}}">{{mappingProject.ProjectName}}</a>
                <span> ({{mappingProject.ProjectStatusTypeName}})</span>
            </li>
        </ul>
        <div ng-if="homeViewModel.mappingProjects.length > homeViewModel.listVisibleLength" class="collapse" id="collapseMappingProjects">
            <ul class="home-page-list">
                <li ng-repeat="mappingProject in homeViewModel.mappingProjects" ng-if="$index > homeViewModel.listVisibleLength - 1">
                    <a ui-sref="{{mappingProject.sref}}">{{mappingProject.ProjectName}}</a>
                    <span> ({{mappingProject.ProjectStatusTypeName}})</span>
                </li>
            </ul>
        </div>
        <div class="pull-right" ng-if="homeViewModel.mappingProjects.length > homeViewModel.listVisibleLength">
            <a class="btn btn-link" role="button" data-toggle="collapse" href="#collapseMappingProjects"
               ng-click="homeViewModel.allMappingProjectsVisible = !homeViewModel.allMappingProjectsVisible"
               aria-expanded="false" aria-controls="collapseMappingProjects">
                Show {{ !homeViewModel.allMappingProjectsVisible ? 'More' : 'Fewer'}} Mapping Projects
            </a>
        </div>
        <div ng-show="homeViewModel.mappingProjects.length === 0" class="alert alert-info">You have no mapping projects.  Click the "New Project" button above to create a new mapping project.</div>
    </div>
    <div class="col-md-6">
        <label class="h3 home-section-header">All Standards</label>
        <div class="pull-right">
            <a ui-sref="createDataStandard" c class="btn btn-edit" role="button"><i class="fa"></i> Add / Upload Standard</a>
        </div>
        <p>Standards are data definitions used in mapping projects  You can upload a standard via a provided template or enter and edit a standard's data definition directly online.</p>
        <ul ng-show="homeViewModel.dataStandards.length > 0" class="home-page-list">
            <li ng-repeat="dataStandard in homeViewModel.dataStandards | limitTo : homeViewModel.listVisibleLength">
                <a ui-sref="{{dataStandard.sref}}">{{dataStandard.SystemName}}</a>
                <span> (Version {{ dataStandard.SystemVersion}})</span>
            </li>
        </ul>
        <div ng-if="homeViewModel.dataStandards.length > homeViewModel.listVisibleLength" class="collapse" id="collapseDataStandards">
            <ul class="home-page-list">
                <li ng-repeat="dataStandard in homeViewModel.dataStandards" ng-if="$index > homeViewModel.listVisibleLength - 1">
                    <a ui-sref="{{dataStandard.sref}}">{{dataStandard.SystemName}}</a>
                    <span> (Version {{ dataStandard.SystemVersion}})</span>
                </li>
            </ul>
        </div>
        <div class="pull-right" ng-if="homeViewModel.dataStandards.length > homeViewModel.listVisibleLength">
            <a class="btn btn-link" role="button" data-toggle="collapse" href="#collapseDataStandards"
               ng-click="homeViewModel.allDataStandardsVisible = !homeViewModel.allDataStandardsVisible"
               aria-expanded="false" aria-controls="collapseDataStandards">
                Show {{ !homeViewModel.allDataStandardsVisible ? 'More' : 'Fewer'}} Data Standards
            </a>
        </div>
        <div ng-show="homeViewModel.dataStandards.length === 0" class="alert alert-info">You have no data standards.  Click the "Add / Upload Standard" button above to add or upload a data standard.</div>
    </div>
</div>


