<!--
SPDX-License-Identifier: Apache-2.0
Licensed to the Ed-Fi Alliance under one or more agreements.
The Ed-Fi Alliance licenses this file to you under the Apache License, Version 2.0.
See the LICENSE and NOTICES files in the project root for more information.
-->

<div class="modal-header">
    <span class="page-title">{{systemItem.SystemItemId ? 'Edit' : 'Add'}} Entity</span>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <form name="form" novalidate>

                <!-- Item Name -->

                <div class="form-group" ma-show-errors>
                    <label class="control-label">Entity Name</label>
                    <input type="text" name="itemName" class="form-control" id="itemName"
                           ng-model="systemItem.ItemName" required
                           ng-maxlength="500"/>
                    <div ng-messages="form.itemName.$error" class="help-block">
                        <div ng-message="required">Entity Name is required.</div>
                        <div ng-message="maxlength">Entity Name is too long.</div>
                    </div>
                </div>

                <!-- Definition -->

                <div class="form-group" ma-show-errors>
                    <label class="control-label">Definition</label>
                    <textarea name="definition" class="form-control" type="text"
                              msd-elastic="\n"
                              ng-model="systemItem.Definition"
                              ng-maxlength="1500"></textarea>
                    <div ng-messages="form.definition.$error" class="help-block">
                        <div ng-message="maxlength">Definition is too long.</div>
                    </div>
                </div>

                <!-- Is Extended -->

                <div class="form-group" ma-show-errors>
                    <label class="control-label">Is Extension</label><br />
                    <switch class="green small-switch" ng-model="systemItem.IsExtended"></switch>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="pull-right">
                <button type="button" class="btn btn-cancel"
                        ng-click="cancel()">
                    <i class="fa"></i>Cancel
                </button>
                <button type="submit" class="btn btn-save" ng-click="save(systemItem)" promise-btn>
                    <i class="fa"></i>Save
                </button>
            </div>
        </div>
    </div>
</div>
